---
import { projects } from "../constants";

import {
  css,
  html,
  js,
  nextjs,
  reactjs,
  tailwindcss,
  ts,
  globe,
  github,
} from "../assets/icons";

const devIconsMap: { [key: string]: string } = {
  reactjs: reactjs.src,
  tailwindcss: tailwindcss.src,
  html: html.src,
  css: css.src,
  js: js.src,
  nextjs: nextjs.src,
  ts: ts.src,
};
---

<div class="fake-masonry columns-1 min-[500px]:columns-2 md:columns-3">
  {
    projects.map((project) => (
      <div class="relative rounded-2xl border border-black before:absolute before:inset-0 before:bg-sky-100 before:pointer-events-none before:-z-10 before:-translate-x-[10px] before:-translate-y-[10px] before:rounded-[inherit]">
        <div class="flex gap-2 absolute top-2 right-1">
          <a target="_blank" href={project.repo} class="bg-white rounded-full">
            <img src={github.src} alt="" width={30} />
            <span class="sr-only">visite github repo</span>
          </a>

          <a target="_blank" href={project.live} class="bg-white rounded-full">
            <img src={globe.src} alt="" width={30} />
            <span class="sr-only">visite the website</span>
          </a>
        </div>

        <div class="overflow-hidden rounded-tl-[inherit] rounded-tr-[inherit]">
          <picture>
            <source
              srcset={project.img.webp.src.replaceAll(" ", "%20")}
              type="image/webp"
            />
            <img
              src={project.img.src.src}
              alt={project.img.alt}
              loading="lazy"
              decoding="async"
            />
          </picture>
        </div>

        <div class="p-4">
          <ul class="flex gap-2 items-center mb-1">
            {project.tech.map((item) => (
              <li>
                {devIconsMap[item] ? (
                  <img width={15} height={15} src={devIconsMap[item]} alt="" />
                ) : (
                  <p class="text-yellow-600 bg-yellow-100 px-1 rounded-md">
                    {item}
                  </p>
                )}
                <p class="sr-only">{item}</p>
              </li>
            ))}
          </ul>
          <h3 class="font-semibold">{project.title}</h3>
          <p class="text-sky-900 leading-5 text-sm">{project.desc}</p>
        </div>
      </div>
    ))
  }
</div>

<style>
  .fake-masonry > * {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
</style>
